@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Force Dark Mode */
:root {
  --foreground-rgb: 255, 255, 255; /* White text */
  --background-start-rgb: 0, 0, 0; /* Black background */
  --background-end-rgb: 0, 0, 0; /* Black background */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
